{% extends 'layout.html.twig' %}

{% block title %}
    {{parent()}} - Mon profil
{% endblock %}


{% block content %}
    <div class="card m-auto w-50 mt-5" xmlns="http://www.w3.org/1999/html">
        <div class="m-auto card-body">
            <h1 class="card-title">{{ user_data.firstname }}</h1>
            <div>
                <i class="far fa-user fa-4x d-flex justify-content-center mb-3"></i>
            </div>
            <ul class="card-text h1 Bootstrap heading">
            <li>Prénom : {{ user_data.lastname }}</li>
            <li>Nom : {{ user_data.firstname }}</li>
            {% if session.register.id == user_data.id %}
                <li>Email : {{ user_data.mail }}</li>
            {% endif %}
            <li>GitHub : {{ user_data.github }}</li>
            </ul>
        </div>
    </div>

    <div class="accordion m-auto w-50 mt-5" id="accordionExample">

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed bg-warning text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <p class="m-auto h4 Bootstrap heading"> Activités proposées </p>
                </button>
            </h2>

            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    {% for activity in activities %}
                        {# TODO : add a link to activity #}
                    <strong><a href="#">{{ activity.title }} </a>: {{ activity.description }}</strong> <br>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}