{% extends 'layout.html.twig' %}

{% block title %}
    {{parent()}} - Toutes les activités
{% endblock %}

{% block content %}
    {% if session.register is not empty %}
        <div class="d-flex justify-content-end mt-5 mx-4 text-white">
            <p>Connecté en tant que {{ session.register.firstname }} {{ session.register.lastname }}</p>
        </div>
    {% endif %}

    <div class="card-header text-center ">
        <h1>EVENEMENTS</h1>
    </div>
    <div class="container mt-4 d-flex flex-wrap">
                {% for activity in activities %}

    <div class="card mb-3 col-12 col-sm-6 col-md-2 m-1 opacity-75 size ">
        <div class="row g-0 ">
            <div class=" card-img-top">
                <img src="https://picsum.photos/350/130?random={{ loop.index }}" class="img-fluid rounded-start img-thumbnail" alt="...">
            </div>
                <div class="card-body">
                    <h5 class="card-title ">
                        <a href="/activite/afficher?id={{ activity.id }}"> {{ activity.title }}</a>
                    </h5>
                    <p class="card-text">{{ activity.description|striptags|length > 80 ? activity.description|striptags|slice(0, 80)|split(' ')|slice(0, -1)|join(' ') ~ '  [...]' : activity.description|striptags  }}  </p>
                    <p class="card-text"><small class="text-muted">{{ activity.created_at }}</small></p>
                    <div class="d-flex justify-content-center ">
                        <button type="button" class="rounded-pill border-2 btn btn-outline-danger mt-auto "><a href="/activite/afficher?id={{ activity.id }}" class="text-decoration-none text-danger">+</a></button>
                    </div>
                </div>


        </div>
    </div>



                {% endfor %}
    </div>

{% endblock %}
