{% extends 'layout.html.twig' %}

{% block title %}
    {{parent()}} - {{ activity.title }}
{% endblock %}


{% block content %}
    {% if session.register is not empty %}
        <div class="d-flex justify-content-end mt-5 mx-4 text-white">
            <p>Connecté en tant que {{ session.register.firstname }} {{ session.register.lastname }}</p>
        </div>
    {% endif %}
    <div class="d-flex mx-5">
        <div class="card col col-6 opacity-75 m-2">
            <div class="card-header text-center">
                <h1>{{ activity.title }}</h1>
            </div>
                <div class="card-body">
                    <div class="fs-6 text-center border rounded-3 mb-2 bg-light p-2 text-dark bg-opacity-75">
                        <p>{{ activity.description }}</p>
                    </div>
                    <h2 class="text-center mt-5 mb-5">Voici les propositions pour cette activité :</h2>
                    <div class="d-flex justify-content-center">
                        {% for error in errors %}
                            <div class="m-auto text-center">
                                <p class="text-danger">{{ error }}</p>
                            </div>
                        {% endfor %}
                        <form action="" method="post" class="m-1">
                            {% for propose in proposes %}
                                <label class="btn btn-outline-danger rounded pill vote mx-3 mt-3" for={{propose.id}}>{{ propose.content }}</label>
                                <input id={{propose.id}} class='d-none' type="checkbox" value="{{ propose.id }}" name=answers[]>
                            {% endfor %}
                            <div class="d-flex justify-content-center mt-5">
                                {% if ableToVote %}
                                    <button type="submit" class="btn btn-outline-danger rounded-pill">Valider</button>
                                {% else %}
                                    <span>Vous avez déjà voté pour {{ proposeVoting.content }}</span>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            <div class="d-flex justify-content-start mx-3">
                <a class="text-decoration-none text-muted" href="/user/profil?id={{ user_data.id }}"><small>Crée par {{ user_data.firstname }} {{ user_data.lastname }}</small></a>
            </div>
        </div>


     <div class="card col col-6 m-2">
            <div class="card-body">
                <h2 class="text-center m-3">Poste ton commentaire</h2>
                <div class="card shadow-0 border">
                    <div class="card-body p-4">
                            <form class="form-outline mb-4" method="post" action="/activite/ajout-comment?id={{ activity.id }}">
                                <textarea name="content" class="form-control" placeholder="Ecris un commentaire"></textarea>
                                <button class="btn btn-outline-danger rounded pill vote mx-3 mt-3" type="submit">Envoyer</button>
                            </form>
                                <div class="mb-2">
                                    <div class="card-body">
                                            {% for comment in comments %}
                                            <div style="overflow: scroll">
                                                <p><img src="https://avatars.githubusercontent.com/{{ comment.github }}" class="rounded-pill" width="30px" height="30px" alt="comment"> {{ comment.firstname }}</p>
                                                <p>{{ comment.content }}</p>
                                            </div>
                                            {% else %}
                                            <div>
                                                <p>Aucun commentaire</p>
                                            </div>
                                            {% endfor %}
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class ="card bg-light text-center bg-opacity-75 w-50 m-auto p-3 mt-5">
            <h3 class="m-3">Résultats des votes</h3>
            <div>
                <canvas id="myChart" width="300" height="300" data-count="{{ vote_count_by_answer|join(',') }}" data-answers="{{ chart_proposes|join(',') }}"></canvas>
            </div>
        </div>
{% endblock %}
{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
<script src="/assets/js/chart-bar.js"></script>
<script src="/assets/js/button.js"></script>

{% endblock %}

