{% extends 'layout.html.twig' %}

{% block title %}
    {{parent()}} - {{ activity.title }}
{% endblock %}


{% block content %}

    {% if session.register is not empty %}
        <div class="d-flex justify-content-end mt-5 mx-4 text-white">
            <p>Connecté en tant que {{ session.register.firstname }} {{ session.register.lastname }}</p>
        </div>
    {% endif %}
 <div class="row row-cols-1 row-cols-md-2 g-3 mx-5">
        <div class="card mt-3 mb-4  m-auto  bg-light bg-opacity-75 ">
               <div class="card-header text-center">
                  <h1>{{ activity.title }}</h1>
               </div>
                    <div class="card-body text-dark  ">
                       <div class="fs-6 text-center border rounded-3 mb-2 bg-light p-2 text-dark bg-opacity-75  " >
                           <p>{{ activity.description }}</p>
                       </div>
                    </div>
            <div class=" text-center fs-4 border bg-light mt-5 mb-5   " >
                <p>Voici les propositions pour cette activité :</p>
            </div>
            <div class="d-flex justify-content-center">
                {% for error in errors %}
                    <div class="m-auto text-center">
                        <p class="text-danger">{{ error }}</p>
                    </div>

                {% endfor %}

                <form action="" method="post" class="m-1">

                    {% for propose in proposes %}
                        <label class="btn btn-outline-danger rounded pill vote mx-3 mt-3" for={{propose.id}}>{{ propose.content }}</label>
                        <input id={{propose.id}} class='d-none' type="checkbox" value="{{ propose.id }}" name=answers[]>
                    {% endfor %}
                    <div class="d-flex justify-content-center mt-5">
                        {% if ableToVote %}
                            <button type="submit" class="btn btn-outline-danger rounded-pill">Valider</button>
                        {% else %}
                            <span>Vous avez déjà voté pour {{ proposeVoting.content }}</span>
                        {% endif %}
                    </div>
                </form>
            </div>
            <div class="d-flex justify-content-start mx-3 ">
                <a class="text-decoration-none text-muted" href="/user/profil?id={{ user_data.id }}"><small>Crée par {{ user_data.firstname }} {{ user_data.lastname }}</small></a>
            </div>
         </div>




            <div class=" row d-flex justify-content-center col-md-8 col-lg-6  mt-3 mb-4">
                <div class="card shadow-0 border " >
                    <div class="card-body p-4  ">
                        <div class="form-outline mb-4">
                            <input type="text" id="addANote" class="form-control" placeholder="ecrit ton commentaires"/>
                            <button class="btn btn-outline-danger rounded pill vote mx-3 mt-3" type="button">Envoyer</button>
                        </div>
                        <div class="card mb-4">
                            <div class="card-body">
                                <p>cette activité a l'air bien nul sans biere</p>

                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row align-items-center">
                                        <img
                                                src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg"
                                                alt="avatar"
                                                width="25"
                                                height="25"
                                        />
                                        <p class="small mb-0 ms-2">greg<span class="small"> - il y a 15 min</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                     </div>
                   </div>
            </div>
  </div>


      <div class ="card bg-light bg-opacity-75  w-50 m-auto">


             <div>
                <canvas id="myChart" width="300" height="300" data-count="{{ vote_count_by_answer|join(',') }}" data-answers="{{ chart_proposes|join(',') }}"></canvas>
             </div>

      </div>





{% endblock %}
{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
<script src="/assets/js/chart-bar.js"></script>
<script src="/assets/js/button.js"></script>

{% endblock %}

