{% extends 'layout.html.twig' %}

{% block title %}
    {{parent()}} - Toutes les activités
{% endblock %}

{% block content %}
    {% if session.register is not empty %}
        <div class="d-flex justify-content-end mt-5 mx-4">
            <p>Connecté en tant que {{ session.register.firstname }} {{ session.register.lastname }}</p>
        </div>
    {% endif %}
            <div class="text-center p-2">
                <p>Voici la liste de toutes les activités :</p>
            </div>
                {% for activity in activities %}
                    <div class="card border-dark mt-3 col col-lg-4 col-md-6 col-sm-10 m-auto w-75">
                        <div class="card-header text-center">
                            <h1>{{ activity.title }}</h1>
                        </div>
            </div>
                    <div class="card-body text-dark">
                        <div class="fs-4 text-center">
                           <p>{{ activity.description }}</p>
                        </div>
                    </div>
                {% endfor %}

        </div>
    </div>
{% endblock %}