{% extends 'layout.html.twig' %}

{% block title %}
    {{parent()}} - Toutes les activités
{% endblock %}

{% block content %}
    {% if session.register is not empty %}
        <div class="d-flex justify-content-end mt-5 mx-4 text-white">
            <p>Connecté en tant que {{ session.register.firstname }} {{ session.register.lastname }}</p>
        </div>
    {% endif %}


    <div class="text-center text-white fs-1 mb-5">
        <h1>Activités</h1>
    </div>
    <div class="container mt-5 d-flex flex-wrap
   justify-content-center px-5  ">
        {% for activity in activities %}
            <div class="card  mb-5  col-12 col-sm-6 col-md-3 m-1 opacity-75 mx-3 ">
                <div class="row g-0 ">
                        <img src="https://picsum.photos/350/130?random={{ loop.index }}" class="img-fluid rounded-top">
                    <div class="card-body">
                        <h5 class="card-title text-center fs-5">{{ activity.title }}</h5>
                        <p class="card-text text-center">{{ activity.description|striptags|length > 80 ? activity.description|striptags|slice(0, 80)|split(' ')|slice(0, -1)|join(' ') ~ '  [...]' : activity.description|striptags  }}</p>
                        <p class="card-text"><small class="text-muted">Crée le {{ activity.created_at | date("d/m/Y") }}</small></p>
                        <div class="d-flex justify-content-center">
                           <a href="/activite/afficher?id={{ activity.id }}" class="text-decoration-none text-danger fs-2">+</a>
                        </div>
                    </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
